#myBtn {
    background-color: lightslategray;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
a {
    padding: 150px 150px 0px 130px;
}

    #myBtn:hover {
        background-color: darkred;
    }
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    text-align: center;
}
body {
    background-color: orange;
}
